<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{{asset 'style.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'pilcrow.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'hljs-github.min.css'}}"/>
  </head>
<body>
{{~> content}}
{{#match title '^victor'}}
{{else}}
  <script id="dsq-count-scr" src="http://victors-blog.disqus.com/count.js" async></script>
  {{> comments}}
{{/match}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71576700-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
